body {
  margin: 0;
  padding: 0;
  max-width: 960px;
}

.climate-factions__wrapper {
  position: relative;
}

.climate-factions {
  background: #fafafa;
  font-family: sans-serif;
  font-size: 12px;
  position: relative;
}

.climate-factions__button-group {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 1;
}

@media (max-width: 667px) {
  .climate-factions__button-group {
    top: 20px;
    width: 320px;
  }
}

.climate-factions__button {
  color: white;
  background: gray;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 7px 7px;
  margin: 0 5px 5px 0;
  font-size: 13px;
  display: block;
  float: left;
  width: 140px;
  font-weight: bold;
}

.climate-factions__button--a { background: #005fcc; }
.climate-factions__button--b { background: #5c0000; }
.climate-factions__button--c { background: #009300; }
.climate-factions__button--d { background: #ea8500; }

.climate-factions__button--active {
  opacity: 1;
}

.climate-factions__button--inactive {
  background: gray;
  opacity: .6;
}

.climate-factions__button--small {
  color: black;
  background: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  padding: 3px 5px;
  margin: 0 3px;
  opacity: .8;
  border: 1px solid gray;
}

.climate-factions__extra-axis-description {
  text-align: right;
  position: relative;
  right: 20px;
  top: -18px;
}

.climate-factions__tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background: rgba(255, 255, 255, .8);
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  overflow: hidden;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.climate-factions__tooltip-head {
  color: #dc0000;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0 0 .5em 0;
}

.climate-factions__tooltip-data {
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.climate-factions__tooltip-data dt {
  float: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.climate-factions__tooltip-data dd {
  float: none;
  padding: 0;
  margin: 0 0 .4em 0;
}

.climate-factions__tooltip-head {
  font-weight: bold;
}

.climate-chart .axis path, .climate-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.climate-chart .axis text {
  font: 10px sans-serif;
}

.climate-chart .bubble {
  fill-opacity: .6;
  stroke-width: 1;
  stroke-opacity: 1;
}

.climate-chart .bubble.active {
  fill-opacity: 1;
}

.climate-chart path.voro {
  fill : transparent;
}

.climate-factions__wrapper .label {
  font: 12px sans-serif;
  line-height: 1em;
  text-shadow: 1px 1px 5px white;
  font-weight: bold;
  position: absolute;
  padding: 0 3px;
}

.climate-factions__wrapper .label.left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
