.climate-chart-wrapper {
  position: relative;
}

.climate-chart-wrapper .tooltip {
  font-family: sans-serif;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100px;
  background: rgba(255,255,255,.8);
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.climate-chart-wrapper .tooltip .tool-head {
  font-weight: bold;
}

.climate-chart .axis path, .climate-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.climate-chart .axis text {
  font: 10px sans-serif;
}

.climate-chart .bubble {
  fill-opacity: .5;
  stroke-width: 1;
  stroke-opacity: 1;
}

.climate-chart .bubble.active {
  fill-opacity: 1;
}

.climate-chart path.voro {
  fill : transparent;
}

.climate-chart-wrapper div.label {
  font: 10px sans-serif;
  position: absolute;
}

.climate-chart-wrapper div.label.left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}